export MESG_TOKEN_INFURA_KEY=

export MESG_TOKEN_NICOLAS_CREATOR_PK=

export MESG_TOKEN_NICOLAS_FUND=
export MESG_TOKEN_MESG_SALE=
export MESG_TOKEN_MESG_RESERVE=
export MESG_TOKEN_MESG_PARTNERS_BOUNTIES=
